<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>16-02-06-熔炼-(微博自定义Cell).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2BF9D9C21C658D2E006A17AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BF9D9DE1C658D2E006A17AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BF9D9E91C658D2E006A17AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
